
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
@{
    var pageString = Context.Request.Query["page"];
    var page = !string.IsNullOrEmpty(pageString) ? Convert.ToInt32(pageString) : 1;
}

    <section id="cta" class="section" style="  background: rgba(0, 0, 0, 0) url(https://www.nsamedia.com/wp-content/uploads/2015/10/blog-bg-use.jpg) no-repeat scroll center center / cover;">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("_DefaultFeature")

                <div class="col-lg-4 col-md-12">
                    @await Component.InvokeAsync("_DefaultNewsletter")
                </div>
            </div>
        </div>
    </section>


<section class="section lb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-custom-build">
                        @await Component.InvokeAsync("_DefaultLayoutBlogList", new { page })
                    </div>
                </div>
                <hr class="invis">
                <div class="row">           
                </div><!-- end row -->
            </div><!-- end col -->
            @await Component.InvokeAsync("_DefaultLayoutSidebar")
        </div><!-- end row -->
    </div><!-- end container -->
</section>