@model List<Article>
@{
    ViewData["Title"] = "ArticleList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card my-4 shadow">
            <div class="card-header bg-gradient-primary shadow-primary text-white border-radius-lg py-3 px-4 d-flex justify-content-between align-items-center">
                <h6 class="mb-0 text-capitalize text-white">Makale Listesi</h6>
                <a href="/Admin/Article/CreateArticle" class="text-white d-flex align-items-center">
                    <i class="fas fa-plus-circle fs-4"></i>
                </a>
            </div>
            <div class="card-body px-4 pb-3">
                <div class="table-responsive">
                    <table class="table table-hover align-items-center">
                        <thead class="bg-light">
                            <tr>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-8">ID</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-8">Başlık</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-8 text-center">Kategori</th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-8 text-center">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@item.ArticleId</p>
                                    </td>
                                    <td>
                                        <span class="text-secondary font-weight-bold">@item.Title</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="badge badge-sm bg-gradient-success">@item.Category.CategoryName</span>
                                    </td>
                                    <td class="text-center">
                                        <a href="/Admin/Article/DeleteArticle/@item.ArticleId" class="text-danger mx-2" title="Sil">
                                            <i class="fas fa-trash-alt fs-5"></i>
                                        </a>
                                        <a href="/Admin/Article/UpdateArticle/@item.ArticleId" class="text-warning mx-2" title="Güncelle">
                                            <i class="fas fa-edit fs-5"></i>
                                        </a>
                                        <a href="/Admin/Article/CommentArticle/@item.ArticleId" class="text-info mx-2" title="Yoruma Bak">
                                            <i class="fas fa-comments fs-5"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>