@model List<Comment>


    @foreach (var item in Model)
    {
        <div class="custombox clearfix">
            <h4 class="small-title">3 BURAYI SAYDIR Comments</h4>
            <div class="row">
                <div class="col-lg-12">
                    <div class="comments-list">
                        <div class="media">
                            <a class="media-left" href="#">
                                <img src="@item.AppUser.ImageUrl" alt="" class="rounded-circle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading user_name">>@item.AppUser.Name <small>@item.CreatedDate.ToString("dd-MMM-yyyy")</small></h4>
                                <p>@item.CommentDetail</p>
                                <a href="#" class="btn btn-primary btn-sm">Yanıtla</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  }
