<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Member/Dashboard/Index" aria-expanded="false">
                    <i class="icon glyphicon-dashboard"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>


            <li class="nav-label">Menüler</li>
            <li>
                <a href="/Member/Profile/EditMyProfile" aria-expanded="false">
                    <i class="icon icon_profile"></i><span class="nav-text">Profilim</span>
                </a>
            </li>
            <li>
                <a href="/Member/Category/CategoryList" aria-expanded="false">
                    <i class="icon icon-list"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/Member/Article/ArticleList" aria-expanded="false">
                    <i class="icon icon-pencil"></i><span class="nav-text">Yazılarım</span>
                </a>
            </li>
            <li>
                <a href="/Member/Comment/MyCommentList" aria-expanded="false">
                    <i class="icon icon_comment"></i><span class="nav-text">Yorumlarım</span>
                </a>
            </li>
            <li>
                <a href="/Default/Index" target="_blank" aria-expanded="false">
                    <i class="icon icon-cursor"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="/Login/Logout" aria-expanded="false">
                    <i class="icon icon-logout"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>