@model List<Category>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

    <div class="sidebar">
        <div class="widget">
            <h2 class="widget-title">Recent Posts</h2>
            <div class="blog-list-widget">
                <div class="list-group">
                    @await Component.InvokeAsync("_DefaultLayoutRecentPosts")
              

             
                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->

        <div id="" class="widget">
            <h2 class="widget-title">Reklam</h2>
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <img src="~/ui/images/ad.png" alt="" class="img-fluid">
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->
        @await Component.InvokeAsync("_PopularCategories")


        


    </div><!-- end sidebar -->
</div><!-- end col -->