@model List<Category>
<div class="col-md-4">
    <!-- Kategoriler -->
  
        <div class="mb-4">
            <h5 class="border-bottom pb-2">Kategoriler</h5>
            <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <a href="#" class="text-primary">@item.CategoryName</a>
                    </li>
            }
            </ul>
        </div>
   
    

    <!-- Sosyal Medya -->
    <div class="mb-4">
        <h5 class="border-bottom pb-2">Sosyal Medya</h5>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Facebook</a></li>
            <li class="list-group-item"><a href="#">Twitter</a></li>
            <li class="list-group-item"><a href="#">Instagram</a></li>
        </ul>
    </div>

    <!-- Öne Çıkan Bloglar -->
    <div class="mb-4">
        <h5 class="border-bottom pb-2">Öne Çıkan Bloglar</h5>
        <ul class="list-group">
            <li class="list-group-item">En İyi Yazılım Araçları</li>
            <li class="list-group-item">Minimal Tasarım Rehberi</li>
            <li class="list-group-item">2024 Seyahat Trendleri</li>
        </ul>
    </div>

    <!-- Yazarlar -->
    <div>
        <h5 class="border-bottom pb-2">Yazarlar</h5>
        <ul class="list-group">
            <li class="list-group-item">Ahmet Yılmaz</li>
            <li class="list-group-item">Elif Kara</li>
            <li class="list-group-item">Mehmet Öz</li>
        </ul>
    </div>
</div>