@model List<Category>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

    <div class="sidebar">
        <div class="widget">
            <h2 class="widget-title">Recent Posts</h2>
            <div class="blog-list-widget">
                <div class="list-group">
                    @await Component.InvokeAsync("_DefaultLayoutRecentPosts")
              

             
                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->

        <div id="" class="widget">
            <h2 class="widget-title">Advertising</h2>
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <img src="~/ui/upload/banner_03.jpg" alt="" class="img-fluid">
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->



        <div class="widget">
            <h2 class="widget-title">Popular Categories</h2>
            <div class="link-widget">
                <ul>
                    @foreach (var category in Model)
                    {
                        <li>
                            <a href="#">@category.CategoryName <span>999</span></a>
                        </li>
                    }
                </ul>
            </div><!-- end link-widget -->
        </div><!-- end widget -->


    </div><!-- end sidebar -->
</div><!-- end col -->