@model List<MyBlogNight.EntityLayer.Concrete.Article>
@{
    ViewData["Title"] = "ArticleList";
    Layout = "~/Views/MemberLayout/Index.cshtml";
    int count = 0;
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hoşgeldin, @ViewData["UserFullName"]</h4>
                    <p class="mb-0">Sana ait makalelerin yer aldığı sayfa burasıdır.</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <a href="/Member/Article/CreateArticle" class="btn btn-success d-flex align-items-center">
                    <i class="fa fa-plus-circle me-2"></i> Yeni Makale Ekle
                </a>
            </div>
        </div>
        <!-- row -->

        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Makalelerim</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-responsive-sm">
                                <thead>

                                    <tr>
                                        <th>#</th>
                                        <th>Makale Adı</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;


                                        <tr>
                                            <th>@count</th>
                                            <td>@item.Title</td>
                                            <td>
                                                <a href="/Member/Article/DeleteArticle/@item.ArticleId" class="text-danger mx-2" title="Sil">
                                                    <i class="fa fa-trash fa-2x"></i>
                                                </a>
                                                <a href="/Member/Article/UpdateArticle/@item.ArticleId" class="text-warning mx-2" title="Güncelle">
                                                    <i class="fa fa-edit fa-2x"></i>
                                                </a>
                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /# card -->
            </div>

        </div>
    </div>
</div>
