@model Article
@{
    ViewData["Title"] = "CreateArticle";
    Layout = "~/Views/MemberLayout/Index.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Makale</h4>
                    <span class="ml-1">Ekle</span>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Makale Ekleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="post">
                            <div class="form-group">
                                <label>Başlık</label>
                                <input type="text" asp-for="Title"  class="form-control" placeholder="Makale başlığı girin" />
                                <label>Küçük Kapak Fotoğrafı</label>
                                <input type="text" asp-for="CoverImageUrl"  class="form-control" placeholder="img url..." />
                                <label>Ana Kapak Fotoğrafı</label>
                                <input type="text" asp-for="MainImageUrl"  class="form-control" placeholder="img url..." />
                                <label>Kategori Seç</label>
                                    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
                                    <label>Makale İçeriği</label>
                                    <textarea asp-for="Detail" class="form-control" rows="10" placeholder="Makale içeriğini yazın.."></textarea>
                            </div>
                            <div class="mt-3 text-end">
                                <button type="submit" class="btn btn-primary">Ekle</button>
                                    <a href="/Member/Article/ArticleList" class="btn btn-secondary">
                                    <i class="bi bi-arrow-left"></i> Geri Dön
                                </a>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
