@model List<Category>


<header class="market-header header">
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="marketing-index.html"><img src="~/ui/images/version/market-logo.png" alt=""></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Default/Index">Anasayfa</a>
                    </li>@foreach (var item in Model)
                    {
                        <li class="nav-item">
                            <!-- Dinamik kategori linki -->
                            <a class="nav-link" href="/Article/Category/@item.CategoryId">@item.CategoryName</a>
                        </li>
                    }

                </ul>
                <ul class="navbar-nav ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Member/Dashboard/Index">
                                <i class="fa fa-user-circle"></i> Merhaba, @User.Identity.Name
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Login/Logout">
                                <i class="fa fa-sign-out-alt"></i> Çıkış Yap
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Login/Index">
                                <i class="fa fa-sign-in"></i> Giriş Yap
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Register/SignUp">
                                <i class="fa fa-user-plus"></i> Kayıt Ol
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div><!-- end container-fluid -->
</header><!-- end market-header -->