@model List<MyBlogNight.EntityLayer.Concrete.Article>
@foreach (var post in Model)
{
    <a href="/Article/ArticleDetail/@post.ArticleId" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="w-100 justify-content-between">
            <img src="@post.MainImageUrl" alt="" class="img-fluid float-left">
            <h5 class="mb-1">@post.Title</h5>
            <small>@post.CreatedDate.ToString("dd MMM, yyyy")</small>
    </div>
</a>}